.center-spinner {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

ion-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}
